#top {
    padding: 2em 3em;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.5625em;
    font-style: italic;
}

#top p:first-child {
    font-weight: 700;
    margin-bottom: 5px;
}

#top p:last-child {
    font-weight: 400;
}

#mid {
    padding: 2rem 0;
}

.container {
    margin-inline: auto;
    width: min(80%, 54.875rem);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#carousel {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#slides {
    width: 300%;
    display: flex;
}

.slider {
    width: 100%;
    transition: 1000ms;
}

.slider img {
    width: 100%;
}

#slide-nav {
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
    display: flex;
    gap: 1.125rem;
}

.navigate {
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    border: 2px solid var(--beige);
}

.navigate.active {
    background-color: var(--beige);
}

#categories {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    grid-gap: 1rem;
}

.category {
    position: relative;
    cursor: pointer;
}

.category:hover {
    opacity: 0.85;
}

.category img {
    width: 100%;
}

.category p {
    padding: 0.2em 0;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.875em;
    font-weight: 700;
    background-color: var(--beige);
    opacity: 0.8;
}

#latest-product {
    margin-top: 1.875em;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
}

#latest-product  #text h1 {
    font-size: 2em;
    text-transform: uppercase;
}

#text a {
    font-size: 1.125em;
    text-decoration: underline;
}

#text a:hover {
    color: var(--beige);
}

#product-list {
    width: 100%;
    overflow-x: auto;
}

#container {
    width: fit-content;
    display: flex;
    gap: 1.125em;
}

/* box shadow not working */
.product {
    border-radius: 5px;
    background-color: var(--white);
    border: 1px solid black;
    box-shadow: 0px 4px 4px var(--shadow);
}

.product img {
    height: 12em;
    width: 12em;
}

.product p {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125em;
    margin: 1.125em 0;
}

@media screen and ( width <= 768px ) {
    #content {
        font-size: 12px;
    }
}

@media screen and ( width <= 480px ) {
    #content {
        font-size: 10px;
    }
}