* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --black: #000000;
    --beige: #E4D5B7;
    --gray: #D9D9D9;
    --white: #FFFFFF;
    --red: #FF0000;
    --shadow: rgba(255, 255, 255, 0.25);
    --highlight: rgb(0, 160, 204);
}

::placeholder {
    color: black;
}

body a {
    color: var(--black);
    text-decoration: none;
}

header {
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    z-index: 10;
}

#left {
    display: flex;
    align-items: center;
    gap: 30px;
}

#logo {
    width: 150px;
}

.nav-icon {
    height: 35px;
    width: 35px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    font-size: 18px;
    font-weight: 700;
}

nav ul li {
    padding: 5px 0;
}

nav ul li.active, nav ul li:hover {
    border-bottom: 3px solid var(--black);
}

footer {
    padding: 20px 50px;
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    color: var(--white);
    font-size: 15px;
}

#social-media {
    display: flex;
    gap: 30px;
}

#social-media img {
    transition: 200ms ease-in-out;
}

#social-media img:hover {
    transform: scale(1.1);
    transition: 200ms ease-in-out;
}