#content {
    padding: 6rem 0;
}

#container {
    margin-inline: auto;
    width: min(90%, 42.375rem);
}

#content h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

#input-field {
    margin-bottom: 6.25rem;
}

.field {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1.25rem;
}

.field a {
    font-weight: 700;
    text-decoration: underline;
    margin-top: 20px;
}

.field a:hover {
    color: var(--beige);
}

.input {
    position: relative;
    padding-top: 1.25rem;
}

.error-msg {
    opacity: 0;
    transition: 200ms ease-in-out;
}

.error-msg.active {
    margin-top: 5px;
    opacity: 1;
    transition: 200ms ease-in-out;
    color: var(--red);
}

.input label {
    position: absolute;
    font-size: 1.25rem;
    cursor: auto;
}

.input.active label {
    color: var(--highlight);
}

.input.error label {
    color: var(--red);
}

.input input {
    margin-top: 5px;
    outline: none;
    width: 100%;
    font-size: 1.25rem;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid var(--black);
}

.input.active input {
    border-bottom: 2px solid var(--highlight);
    transition: 200ms ease-in-out;
}

.input.error input {
    border-bottom: 1px solid var(--red);
    transition: 200ms ease-in-out;
}

.pass-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pass-input .bx {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: var(--white);
}

.input.active .bx {
    color: var(--highlight);
}

.input.error .bx {
    color: var(--red);
}

button#submit {
    padding: 0.6em 0;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
    background-color: var(--black);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 200ms ease-in-out;
}

#register {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 2rem;
}

#register a {
    text-decoration: underline;
    font-weight: 700;
}

#register a:hover {
    color: var(--beige);
}